<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Asosiy bo'limlar</li>
           <li class="{{sideMenuActive[0]}}"><a ng-click="changeContentUrl('student', 0)" href="#"><i class="fa fa-user text-aqua"></i> <span>Studentlar</span></a></li>
           <li class="{{sideMenuActive[1]}}"><a ng-click="changeContentUrl('moderators', 1)" href="#" ng-if="moderatoView"><i class="fa fa-users text-aqua"></i> <span>Moderatorlar</span></a></li>
           <li class="{{sideMenuActive[1]}}"><a ng-click="changeContentUrl('groups', 2)" href="#"><i class="fa fa-users text-aqua"></i> <span>Groupalar</span></a></li>
           <li class="{{sideMenuActive[1]}}"><a ng-click="changeContentUrl('employer', 3)" href="#"><i class="fa fa-users text-aqua"></i> <span>Employer</span></a></li>

    </ul>
</section>
<!-- /.sidebar -->